.card {
  width: 327px;
  height: 780px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-desaturated-blue);
  border-radius: 8px;

  @media (min-width: 1440px) {
    width: 1110px;
    height: 446px;
    flex-direction: row-reverse;
  }
}
