.stats {
  &__title {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    margin: 40px 31.5px 16px 31.5px;

    &--violet {
      color: var(--soft-violet);
    }
  }

  &__paragraph {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin: 0 31.5px 40px 31.5px;
    color: var(--slightly-transparent-white-p);
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;

    &--stats {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2px;
    }

    &--strong {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }

    &--light {
      color: var(--slightly-transparent-white);
      text-transform: uppercase;
      font-size: 12px;
      line-height: 25px;
      letter-spacing: 1px;
    }
  }

  @media (min-width: 1440px) {
    &__title {
      font-size: 36px;
      line-height: 44px;
      margin: 71px 95px 25px 72px;
      text-align: left;

      &--violet {
        color: var(--soft-violet);
      }
    }

    &__paragraph {
      text-align: left;
      margin: 0 124.5px 72px 71.5px;
    }

    &__numbers {
      flex-direction: row;
      margin-bottom: 59px;
      justify-content: flex-start;
      gap: 61px;
      margin-left: 71.5px;
    }
  }
}
